.footer {
  background-color: var(--footer-background-color);
  padding: 2rem 1.5rem;
  border-top: 1px solid var(--border-color);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.content p {
  margin: 0;
  color: var(--text-color);
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

.footer a:hover {
  color: var(--cor-primaria);
}
